<section class="chat__section">
        <div class="brand">
            <img height="55" src="images/logo.png" alt="">
            <h1>hey..!!</h1>
        </div>
        <div class="message__area"></div>
        <div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
    </section>